/*
font family:font-family: 'Roboto', sans-serif;
font family:font-family: 'Libre Franklin', sans-serif;
*/

/*
Css para Rock & Soul Html
*/

:root{
    --FuenteHeading:'Roboto', sans-serif;
    --FuenteTexto:'Libre Franklin', sans-serif;
    --Primario: rgb(214, 61, 61);
    --Secunadrio:rgb(193, 215, 218);
    --blanco:white;
    --negro:black;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}
/*UTILIDADES*/

.padding-top{
    padding-top: 4rem;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

body{
    font-family: var(--FuenteHeading);
    background-image: linear-gradient(to right,rgb(245, 241, 241),rgb(247, 233, 233));
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor{
    width: min (90%,120rem);
    margin:0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--FuenteHeading);
    line-height: 1.2;
    -webkit-text-stroke: 0.5px var(--blanco);
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}
/*Rock & Soul (Index Principal)*/
.header{
    background-image: url(/img/rainbow-abstract-digital-art-dark-background-sound-wave-wallpaper-preview.jpg);
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_texto{
    text-align: center;
    color: var(--negro);
    margin-top: 10rem;
    padding-left: 20rem;
}

.barra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}

.logo{
    color: var(--blanco);
}

.logo_nombre{
    font-weight: 500;
    font-size: 11rem;
}

.logo_bold{
    font-weight: 700;
}

.navegacion{
    display: flex;
    gap: 3rem;
}

.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 3.5rem;
    color: var(--blanco);
    -webkit-text-stroke: 1px var(--blanco);
    font-weight: 900;
}

.cotenedor-principal{
    padding-top: 4rem;
}

.h1-main{
    font-family: var(--FuenteTexto);
    font-size: 6rem;
    padding-top: 6rem;
    margin: 10rem;
    
}



.contenido{
    max-width:120rem; 
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.mostrador{
    width: 100%;
    height: 15rem;
    transition: .5s ease;
}

.fila{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 4rem;
}
.item{
    max-width: 50rem; 
    padding: 3rem;  
    height: 25rem;
    text-align: center;
    margin: 5rem;
    cursor: pointer;
    border-radius: 10rem;
    transition: .3s;
}

.item:hover{
    background-color: rgb(209, 201, 201);
}

.img-fila{
    width: 100%;
    margin: 3rem 0;
}

.descripcion{
    color: #707070;
    font-weight: bold;
    
}

.precio{
    color:red;
    font-weight: bold;
    font-size: 2rem;
}

.seleccion{
    transition: .5s ease ;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.cerrar{
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}

.info{
    padding: 4rem;
}

img{
    display: block;
    margin: 3rem;
    width:80%;
}

#modelo{
    color: rgb(71, 69, 69);
    margin-bottom: 1rem;
}
#descripcion{
    font-size: 1.4rem;
    color: #707070;
    margin-bottom: 1rem;
}

#precio{
    font-size: 3rem;
    font-weight:bold;
    color: red;
    margin-bottom: 1rem;
    display: block;
}
#fila{
    display: flex;
    align-items:flex-end;
}

.label-fila{
    display: block;
    margin-bottom: 1rem;
}

select{
    width: 10rem;
    font-size: 1.8rem;
    padding: 0.6rem;
    margin-right: 3rem;
}

button{
    height: 4rem;
    border: none;
    padding: 0 1rem;
    color: #fff;
    background-color: red;
}




image{
    width: 70%;
    aspect-ratio: 7/6;
    object-fit: contain;
}
.footer{
    background-image: url(/img/background-bar-black-equalizer-wallpaper-preview.jpg);
    background-color: var(--negro);
    padding-bottom: 0.4rem;
    margin-top: 4rem;
}
.logo_nombreF{
    font-weight: 500;
    font-size: 11rem;
}

.navegacion_enlaceF{
    display: block;
    text-align: center;
    font-size: 3.5rem;
    color: var(--blanco);
    -webkit-text-stroke: 1px var(--blanco);
    font-weight: 900;
}

@keyframes escalar{
    100%{transform: scale(1.2);}
}
.navegacion_enlace:hover{
    animation: escalar 2s infinite;
}

.navegacion_enlaceF:hover{
    animation: escalar 2s infinite;
}

/* Acerca de Nosotros*/

.nosotros{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 2rem;
}

.nosotros_imagen{
    border: 5px solid var(--blanco);
    width: 300px;
    display: flex;
    margin-left: 15rem;
    gap: 40rem;
}

#img2_nosotros{
    border: 5px solid var(--negro);
}

.nosotros_texto{
    color: var(--negro);
    font-family: var(--FuenteTexto);
    padding-top: 3rem;
    margin-left: 2rem;
}

.h1-contacto{
    font-family: var(--FuenteTexto);
    font-size: 6rem;
    padding-top: 6rem;
    margin-right: 40rem;
}

p{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

/*Contacto*/

.Contacto-gb{
    background-image: url(/img/guitarraacústica-0-Somsak-Sudthangtum-40950045_l-scaled-1.jpg);
    height: 70rem;
    background-size: cover;
    background-repeat: repeat;
}

.formulario{
    background-color: rgb(209, 114, 19);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    
}

.campo_label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 3rem;
}

.campo_field{
    flex: 1;
    border: 3px solid var(--negro);
}

.campo_field--textarea{
    height: 20rem;
}

.boton{
    display: inline-block;
    font-family: var(--FuenteHeading);
    color: var(--blanco);
    text-align: center;
    font-size: 2.3rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
}

.boton--primario{
    background-color: var(--negro);
}
